<h1>New request</h1>

<%= s3_uploader_form callback_url: requests_url,
  id: "s3_uploader",
  acl: "private",
  callback_param: "direct_upload_url",
  max_file_size: 40.megabytes do %>
  <%= file_field_tag :file, multiple: false %>
<% end %>
<br/>
 
 
<div id="uploads_container"></div>
<script id="template-upload" type="text/x-tmpl">
<div id="upload_{%=o.unique_id%}" class="upload">
  <h5>{%=o.name%}</h5>
  <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
<br/>

<%= render 'form' %>
