// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.literally {
	height: 421px;
	width: 480px;
	cursor: crosshair;
}
 
#b {
	height: 360px!important;
}

.imgur-submit {
	display: inline;
}